body{
background: #A8B1EB;
}
.jumbotron{
  background: transparent;
}
img{
  width: 100%;
}
footer{
    position: absolute;
    bottom: 0;
    background:#2C3BE0;
    width: 100%;
    font-size:25px;
    color: #FFFFFF;
}